* {
  box-sizing: border-box;
    font-family: "Trirong", serif;

}

body{
    font-family: "Trirong", serif;

   background-image: url('https://images.pexels.com/photos/1637080/pexels-photo-1637080.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
   background-position: top;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 48%;
  padding: 10px;
  height: 350px; /* Should be removed. Only for demonstration */
  background-color: rgba(203, 203, 203, 0.2);
  margin: 10px;
  text-align: center;
}

.column h2, .column p {
    color:white;
}

.column:hover {
    float: left;
    width: 48%;
    padding: 10px;
    height: 350px;
    background-color: rgba(203, 203, 203, 0.2);
    margin: 10px;
    text-align: center;
    border: 15px solid #eee;
        color:white;

}

.row{
 color: white;
 text-align: center;
 }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align:center;
  color: white;
}
.heading {
    font-size: 70px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
