<main class="main" >
  <router-outlet />
  <div class="content homecontent" ng-if="property">
    <div class="row" >
      <div class="columnticker" >
        <div class="cols">
          <a href="/" style="width:30px;"><img src="/../assets/moneybag.png" alt="Location"></a>
          <p>Select <strong>Money</strong> for capital offering</p>
        </div>
        <div class="cols" >
          <a href="/" style="width:30px;"><img src="/../assets/home.png" alt="Location"></a>
          <p>Select <strong>Property</strong> for real estate</p>
        </div>
        <div class="cols" >
          <a href="/" style="width:30px;"><img src="/../assets/smartphone.png" alt="Location"></a>
          <p>Call 870-mystore for help</p>
        </div>
      </div>
    </div>
    <div class="row heading">
      <p><strong>Investment</strong> Store</p>
    </div>
    <div class="row">
      <a href="/ticker/1/1">
        <div class="column" >
        <img src="/../assets/moneybag.png" alt="Location">
          <h2>Money</h2>
          <p>Earn interest income</p>
        </div>
      </a>

      <a href="/properties">
        <div class="column" >
        <img src="/../assets/home.png" alt="Location">

          <h2>Properties</h2>
          <p>Buy real estate</p>
        </div>
      </a>
    </div>
    <div class="row">
      <h3 style="font-size: 30px;">Make money or pick up property</h3>
    </div>
  </div>
</main>

